*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;;
}

html, body{
  width: 100%;
  height: 100%;
}

#main{
  display: flex;
  width: 100%;
  height: 100%;
}

#left{
  overflow: hidden;
  position: relative;
  width: 45%;
  height: 100%;
  background: lightcoral;
}

#nav{
  display: flex;
  align-items: center;
  gap: 100px;
  width: 100%;
  padding: 40px 60px;
  color: #fff;
}

#nav h3{
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 4px;
}

#nav a {
  text-decoration: none;
  color: #fff;
}

#content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  background-image: url(https://images.unsplash.com/photo-1516726817505-f5ed825624d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
  background-size: cover;
}

#content-text{
  display: flex;
  gap: 10px;
  color: #fff;
  position: absolute;
  top: 110%;
  left: 0;
}
#left-part{
  width: 30%;
}
#right-part{
  width: 70%;
}
#left-part h3{
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
}
#right-part p{
  line-height: 15px;
  font-weight: 500;
  font-size: 10px;
}

#left-bottom-content{
  position: absolute;
  left: 5%;
  bottom: -10%;
  transform-origin: 0% 50%;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}
#line{
  width: 200px;
  height: 1px;
  background: #fff;
}
#left-bottom-content h5{
  letter-spacing: 5px;
  font-size: 12px;
  font-weight: 400;
}

#center{
  width: 45%;
  height: 100%;
  background: lightcyan;
}

#right{
  width: 10%;
  height: 100%;
  background-color: lightblue;
}